---
layout: default
title: Posts by Month
---

<header>
  <a href="https://walbourn.github.io/">Home</a> | <a href="https://walbourn.github.io/tags/">Posts by Tag</a> | <a href="https://walbourn.github.io/about/">About</a><br /><br />
</header>

{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %B'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<footer>
 <small>&copy; 2023 Chuck Walbourn. Portions &copy; 2010-2019, Microsoft Corp</small>
</footer>
