---
layout: default
title: Posts by Tag
---

<header>
  <a href="https://walbourn.github.io/">Home</a> | <a href="https://walbourn.github.io/archive/">Posts by Month</a> | <a href="https://walbourn.github.io/about/">About</a><br /><br />
</header>

<div class="tags">

{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

</div>

<footer>
 <small>&copy; 2022 Chuck Walbourn. Portions &copy; 2010-2019, Microsoft Corp</small>
</footer>
