---
layout: default
---

<article class="post">

  <header>
    <h1>{{ page.title }}</h1>
    <span class="category"><i class="icon-tag"></i> {{ page.categories | join: ', ' }}</span><br/><br/>
    <span class="author"><i class="icon-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span> - <span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span>
  </header>

  <hr / >

  <div class="entry">
    {{ content }}
  </div>

  <footer>
    <a href="https://walbourn.github.io/">Home</a> | <a href="https://walbourn.github.io/tags/">Posts by Tag</a> | <a href="https://walbourn.github.io/archive/">Posts by Month</a><br /><br />
    <a href="https://github.com/Microsoft/DirectXMath">DirectXMath</a> | <a href="https://github.com/Microsoft/DirectXMesh">DirectXMesh</a> | <a href="https://github.com/Microsoft/DirectXTex">DirectXTex</a> | <a href="https://github.com/Microsoft/DirectXTK">DirectX Tool Kit (DX11)</a> | <a href="https://github.com/Microsoft/DirectXTK12">DirectX Tool Kit (DX12)</a>
  </footer>
</article>
